[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Matias Iglesias <matiasiglesias@matiasiglesias.com.ar>
  # Latest version of this Spanish localization template
  # can be found at <http://github.com/matiasiglesias/bugzilla_es>
  #
  # Contributions are Welcome.
  #%]

[%# INTERFACE:
  # release: un hash que contiene datos sobre los nuevos lanzamientos, si existen.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla P&aacute;gina Principal"
   header = "P&aacute;gina Principal" 
   header_addl_info = "versi&oacute;n $constants.BUGZILLA_VERSION"
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>Bugzilla [%+ release.deprecated FILTER html %] ya no posee soporte.
        Est&aacute; altamente recomentado que actualice su versi&oacute;n para mantener su sistema seguro.</p>
      [% END %]

      <p>Una nueva versi&oacute;n de Bugzilla ([% release.data.latest_ver FILTER html %])
      est&aacute; disponible en
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Fecha de lanzamiento: [% release.data.date FILTER html %]</p>

      <p class="notice">Este mensaje es mostrado &uacute;nicamente a usuarios que han iniciado sesi&oacute;n con privilegios de admin en la P&aacute;gina de 
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Par&aacute;metros</a>.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>El archivo remoto <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> no se se puede descargar
      (raz&oacute;n: [% release.reason FILTER html %]).<br>
      El servidor remoto no est&aacute; disponible temporalmente, o su servidor web no puede acceder a
       la web. Si est&aacute; detr&aacute;s de un proxy, setee el par&aacute;metro 
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> correctamente.</p>
    [% ELSIF release.error == "no_write" %]
      <p>El archivo XML local '[% constants.LOCAL_FILE FILTER html %]' no puede ser creado
      (raz&oacute;n: [% release.reason FILTER html %]).<br>
      Por favor, aseg&uacute;rese que el servidor web puede escribir en &eacute;ste directorio.</p>
    [% ELSIF release.error == "no_update" %]
      <p>El archivo XML local '[% constants.LOCAL_FILE FILTER html %]' no puede ser actualizado.
      Por favor, aseg&uacute;rese que el servidor web puede escribir en &eacute;ste directorio.</p>
    [% ELSIF release.error == "no_access" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be read.
      Please make sure this file has the correct rights set on it.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>El archivo XML local '[% constants.LOCAL_FILE FILTER html %]' tiene un formato XML inv&aacute;lido.
      Por favor, elim&iacute;nelo e intente acceder nuevamente a &eacute;sta p&aacute;gina.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' no es un par&aacute;metro v&aacute;lido de 
      notificaci&oacute;n. Por favor, chequee &eacute;ste par&aacute;metro en la p&aacute;gina de 
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Par&aacute;metros</a>.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <h1 id="welcome"> Bienvenido a [% terms.Bugzilla %]</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>Nuevo [% terms.aBug %]</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>Buscar</span></a>
      </li>
      <li>
        <a id="account"
          [% IF user.id %]
            href="userprefs.cgi"><span>Preferencias de Usuario</span></a>
          [% ELSIF Param('createemailregexp') && user.authorizer.user_can_create_account %]
            href="createaccount.cgi"><span>Registrarse</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>Iniciar sesi&oacute;n</span></a>
          [% END %]
      </li>
      <li>
        <a id="help" href="[% docs_urlbase FILTER html %]using/index.html"><span>Documentaci&oacute;n</span></a>
      </li>
    </ul>
  </div>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="B&uacute;squeda R&aacute;pida"
             placeholder="Ingrese # [% terms.abug %] o alg&uacute;n t&eacute;rmino de b&uacute;squeda"
             autofocus required>
      <input id="find" type="submit" value="B&uacute;squeda R&aacute;pida">
      <a href="page.cgi?id=quicksearch.html" title="Ayuda de B&uacute;squeda R&aacute;pida">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
    </ul>
  </div>

  <div id="common_queries">
    <h4>Consultas Comunes:</h4>
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %][% terms.bugs %] abiertos asignados a mi[% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        <li>
          [% title = BLOCK %][% terms.bugs %] abiertos reportados por mi[% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]Solicitudes registradas a mi[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>
        [% terms.Bugs %] reportados en  
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">&uacute;ltimas 24 horas</a>
        [% title = BLOCK %][% terms.Bugs %] reportados en las &uacute;ltimas 24 horas[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">&uacute;ltimos 7 d&iacute;as</a>
        [% title = BLOCK %][% terms.Bugs %] reportados en los &uacute;ltimos 7 d&iacute;as[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
      <li>
        [% terms.Bugs %] modificados en
        <a href="buglist.cgi?chfieldfrom=24h">&uacute;ltimas 24 horas</a>
        [% title = BLOCK %][% terms.Bugs %] modificados en las &uacute;ltimas 24 horas[% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">&uacute;ltimos 7 d&iacute;as</a>
        [% title = BLOCK %][% terms.Bugs %] modificados en los &uacute;ltimos 7 d&iacute;as[% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
