[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Matias Iglesias <matiasiglesias@matiasiglesias.com.ar>
  # Latest version of this Spanish localization template
  # can be found at <http://github.com/matiasiglesias/bugzilla_es>
  #
  # Contributions are Welcome.
  #%]

[% title = BLOCK %]
  Administre su instalaci&oacute;n (Bugzilla
  [%+ constants.BUGZILLA_VERSION FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl title = title
                                   style_urls = ['skins/standard/admin.css']
                                   doc_section = "administering/index.html"
%]

<div>
  Esta p&aacute;gina s&oacute;lo es accesible para los usuarios habilitados. Usted puede acceder a las 
  p&aacute;ginas de administraci&oacute;n desde aqu&iacute; (en funci&oacute;n de sus privilegios), permiti&eacute;ndole configurar 
  diferentes aspectos de &eacute;sta instalaci&oacute;n. Nota: algunas secciones pueden no ser accesibles 
  para usted y est&aacute;n marcados usando un color m&aacute;s claro.
</div>

<table>
  <tr>
    <td class="admin_links">
      <dl>
        [% class = user.in_group('tweakparams') ? "" : "forbidden" %]
        <dt id="parameters" class="[% class %]"><a href="editparams.cgi">Par&aacute;metros</a></dt>
        <dd class="[% class %]">Establecer los par&aacute;metros fundamentales de la instalaci&oacute;n. Ese es el
        lugar donde se especifica la URL para acceder a esta instalaci&oacute;n, determina c&oacute;mo
        se identifican los usuarios, elige qu&eacute; campos de un [% terms.bug %] se muestran, selecciona
        el agente de correo para enviar notificaciones, elige qu&eacute; grupo de
        usuarios puede usar gr&aacute;ficas y compartir consultas, y mucho m&aacute;s.</dd>

        <dt id="preferences" class="[% class %]"><a href="editsettings.cgi">Preferencias Predeterminadas</a></dt>
        <dd class="[% class %]">Establecer las preferencias predeterminadas de los usuarios. Estos son los valores
        que se usar&aacute;n por defecto para todos los usuarios. Los usuarios podr&aacute;n editar sus
        propias preferencias desde <a href="userprefs.cgi?tab=settings">Preferencias</a>.</dd>

        [% class = user.in_group('editcomponents') ? "" : "forbidden" %]
        <dt id="sanitycheck" class="[% class %]"><a href="sanitycheck.cgi">Comprobaci&oacute;n de Sanidad</a></dt>
        <dd class="[% class %]">Ejecuta las comprobaciones de sanidad para localizar problemas en la base de datos.
        Esto puede tardar varias decenas de minutos dependiendo del tama&ntilde;o de su instalaci&oacute;n.
        Tambi&eacute;n puede automatizar esta comprobaci&oacute;n ejecutando <kbd>sanitycheck.pl</kbd> como una tarea programada.
        Se enviar&aacute; una notificaci&oacute;n por correo al usuario especificado si se detectan errores.</dd>

        [% class = (user.in_group('editusers') || user.can_bless) ? "" : "prohibido" %]
        <dt id="users" class="[% class %]"><a href="editusers.cgi">Users</a></dt>
        <dd class="[% class %]">Crear nuevas cuentas de usuarios o editar las existentes. Tambi&eacute;n puede
        a&ntilde;adir o eliminar usuarios de grupos (tambi&eacute;n conocido como "Privilegios de Usuario").</dd>

        [% class = (Param('useclassification') && user.in_group('editclassifications')) ? "" : "prohibido" %]
        <dt id="classifications" class="[% class %]"><a href="editclassifications.cgi">Classifications</a></dt>
        <dd class="[% class %]">Si su instalaci&oacute;n tiene que gestionar muchos productos a la vez,
        es una buena idea agrupar estos productes en distintas categorias. Esto permite a los usuarios
        buscar informaci&oacute;n m&aacute;s f&aacute;cilmente al hacer b&uacute;squedas o al crear nuevos [% terms.bugs %].</dd>

        [% class = (user.in_group('editcomponents')
                    || user.get_products_by_permission("editcomponents").size) ? "" : "prohibido" %]
        <dt id="products" class="[% class %]"><a href="editproducts.cgi">Productos</a></dt>
        <dd class="[% class %]">Editar todos los aspectos de los productos, incluyend las restricciones de grupo
        que permiten definir qui&eacute;n puede acceder a los [% terms.bugs %] que haya en estos productos. Tambi&eacute;n
        puede editar algunos atributos espec&iacute;ficos de productos tales como
        <a href="editcomponents.cgi">componentes</a>, <a href="editversions.cgi">versiones</a>
        e <a href="editmilestones.cgi">hitos</a> directamente.</dd>

        [% class = (user.in_group('editcomponents')
                   || user.get_products_by_permission('editcomponents').size) ? "" : "prohibido" %]
        <dt id="flags" class="[% class %]"><a href="editflagtypes.cgi">Flags</a></dt>
        <dd class="[% class %]">Un indicador es un atributo personalizado con 4 estados de los [% terms.bugs %]
        y/o adjuntos. Estos estados son: concedido, denegado, solicitado y sin definir.
        Pueden ponerse cuantos indicadores se deseen por [% terms.bug %], y definir qu&eacute; usuarios
        pueden editarlos.</dd>

        [% Hook.process('end_links_left') %]
      </dl>
    </td>

    <td class="admin_links">
      <dl>
        [% class = user.in_group('admin') ? "" : "prohibido" %]
        <dt id="custom_fields" class="[% class %]"><a href="editfields.cgi">Campos Personalizados</a></dt>
        <dd class="[% class %]">Bugzilla le permite definir campos que no
        est&aacute;n implementados por defecto, basados en los requisitos locales espec&iacute;ficos.
        Estos campos se pueden usar como cualquier otro campo, lo que significa que usted puede
        ponerlos en los [% terms.bugs %] y ejecutar cualquier b&uacute;squeda us&aacute;ndolos.<br>
        Antes de crear nuevos campos, recuerde que demasiados campos pueden hacer que el
        interfaz de usuario sea m&aacute;s complejo y dif&iacute;cil de usar. Aseg&uacute;rese de que ha investigado otras formas
        de satisfacer sus necesidades antes de hacer esto.</dd>

        <dt id="field_values" class="[% class %]"><a href="editvalues.cgi">Valores de los Campos</a></dt>
        <dd class="[% class %]">Define valores v&aacute;lidos para los campos cuyos valores deben pertenecer
        a una lista dada. Tambi&eacute;n es &eacute;ste el lugar donde se definen los valores v&aacute;lidos para algunos
        tipos de campos personalizados.</dd>

        <dt id="status_workflow" class="[% class %]"><a href="editworkflow.cgi">Flujo de Estado del [%terms.Bug %]</a></dt>
        <dd class="[% class %]">Personalice su flujo y elija los estados iniciales de un [% terms.bug %]
        disponibles en la creaci&oacute;n de un [% terms.bug %], as&iacute; como las transiciones de estado de un [% terms.bug %]
        permitidas al editar [% terms.bugs %] existentes.</dd>

        [% class = user.in_group('creategroups') ? "" : "prohibido" %]
        <dt id="groups" class="[% class %]"><a href="editgroups.cgi">Grupos</a></dt>
        <dd class="[% class %]">Define los grupos que se usar&aacute;n en la instalaci&oacute;n.
        Se pueden usar para definir nuevos privilegios de usuario o para restringir el acceso
        a algunos [% terms.bugs %].</dd>

        [% class = user.in_group('editkeywords') ? "" : "prohibido" %]
        <dt id="keywords" class="[% class %]"><a href="editkeywords.cgi">Palabras clave</a></dt>
        <dd class="[% class %]">Define palabras clave que se van a usar con los [% terms.bugs %]. Las palabras clave
        son una forma f&aacute;cil de "etiquetar" [% terms.bugs %] para permitirle encontrarlos despu&eacute;s m&aacute;s f&aacute;cilmente.</dd>

        [% class = user.in_group('bz_canusewhines') ? "" : "prohibido" %]
        <dt id="whining" class="[% class %]"><a href="editwhines.cgi">Avisos</a></dt>
        <dd class="[% class %]">Establece consultas que ser&aacute;n ejecutadas en una fecha y hora especificadas,
        y recibe el resultado de estas consultas directamente por email. Esta es una buena manera
        de crear recordatorios y de realizar un seguimiento de las actividades en su instalaci&oacute;n.</dd>

        [% IF Param('use_mailer_queue') %]
          [% class = user.in_group('admin') ? "" : "prohibido" %]
          <dt id="view_job_queue" class="[% class %]"><a href="view_job_queue.cgi">Cola de Tareas</a></dt>
          <dd class="[% class %]">Vea la cola de los emails de trabajos sin entregar/diferidos.</dd>
        [% END %]

        <dt id="release_notes">
          <a href="page.cgi?id=release-notes.html">Notas de la Versi&oacute;n</a></dt>
        <dd>Informaci&oacute;n detallada relacionada con esta versi&oacute;n de Bugzilla.</dd>

        [% Hook.process('end_links_right') %]
      </dl>
    </td>
  </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
