[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Matias Iglesias <matiasiglesias@matiasiglesias.com.ar>
  # Latest version of this Spanish localization template
  # can be found at <http://github.com/matiasiglesias/bugzilla_es>
  #
  # Contributions are Welcome.
  #%]

[% max_local = Param('maxlocalattachment') * 1024 %]
[% max_limit = Param('maxattachmentsize')> max_local ? Param('maxattachmentsize') : max_local %]
<tr class="attachment_data">
  <th><label for="data">File</label>:</th>
  <td>
    <em>Introduzca la ruta de acceso al archivo en su computadora</em> (o
    <a id="attachment_data_controller" href="javascript:TUI_toggle_class('attachment_text_field');
                                             javascript:TUI_toggle_class('attachment_data')"
    >pegar texto como archivo adjunto</a>).<br>
    <input type="file" id="data" name="data" size="50" onchange="DataFieldHandler()">
    <br><em>(L&iacute;mite de tama&ntilde;o de archivo: [% max_limit FILTER html %] KB)</em>
  </td>
</tr>
<tr class="attachment_text_field">
  <th><label for="attach_text">Archivo</label>:</th>
  <td>
    <em>Pegue el texto que se a&ntilde;ade como un archivo adjunto</em> (para
    <a id="attachment_text_field_controller" href="javascript:TUI_toggle_class('attachment_text_field');
                                                   javascript:TUI_toggle_class('attachment_data')"
    >adjuntar un archivo</a>).<br>
    <textarea id="attach_text" name="attach_text" cols="80" rows="15"
              onkeyup="TextFieldHandler()" onblur="TextFieldHandler()"></textarea>
  </td>
</tr>
<tr>
  <th class="required"><label for="description">Descripcio&oacute;n</label>:</th>
  <td>
    <em>Decriba brevemente el archivo adjunto.</em><br>
    <input type="text" id="description" name="description" class="required"
           size="60" maxlength="200">
  </td>
</tr>
<tr[% ' class="expert_fields"' UNLESS bug.id %]>
  <th>Content Type:</th>
  <td>
    <em>Si el archivo adjunto es un parche por favor crequee la casilla de abajo.</em><br>
    <input type="checkbox" id="ispatch" name="ispatch" value="1"
           onchange="setContentTypeDisabledState(this.form);">
    <label for="ispatch">parche</label><br><br>
    [%# Reset this whenever the page loads so that the JS state is up to date %]
    <script type="text/javascript">
      YAHOO.util.Event.onDOMReady(function() {
          bz_fireEvent(document.getElementById('ispatch'), 'change');
      });
    </script>

    <em>De lo contrario, seleccione un m&eacute;todo para deterinar el tipo de contenido.</em><br>
    <input type="radio" id="autodetect"
           name="contenttypemethod" value="autodetect" checked="checked">
      <label for="autodetect">autom&aacute;tico</label><br>
    <input type="radio" id="list"
           name="contenttypemethod" value="list">
      <label for="list">seleccionar de una lista</label>:
      <select name="contenttypeselection" id="contenttypeselection"
              onchange="this.form.contenttypemethod[1].checked = true;">
        [% PROCESS content_types %]
      </select><br>
    <input type="radio" id="manual"
                 name="contenttypemethod" value="manual">
      <label for="manual">Ingresar manualmente</label>:
      <input type="text" name="contenttypeentry" id="contenttypeentry"
             size="30" maxlength="200"
             onchange="if (this.value) this.form.contenttypemethod[2].checked = true;">
  </td>
</tr>
<tr[% ' class="expert_fields"' UNLESS bug.id %]>
  <td> </td>
  <td>
    [% IF flag_types && flag_types.size > 0 %]
      [% PROCESS "flag/list.html.tmpl" %]<br>
    [% END %]
  </td>
</tr>

[% BLOCK content_types %]
  [% mimetypes = [{type => "text/plain", desc => "Texto plano"},
                  {type => "text/html",  desc => "Texto HTML"},
                  {type => "application/xml", desc => "Archivo XML"},
                  {type => "image/gif",  desc => "Imagen GIF"},
                  {type => "image/jpeg", desc => "Imagen JPEG"},
                  {type => "image/png",  desc => "Imagen PNG"},
                  {type => "application/pdf", desc => "documento PDF"},
                  {type => "application/octet-stream", desc => "archivo binario"}]
  %]
  [% Hook.process("mimetypes", "attachment/createformcontents.html.tmpl") %]

  [% FOREACH m = mimetypes %]
    <option value="[% m.type FILTER html %]">[% m.desc FILTER html %] ([% m.type FILTER html %])</option>
  [% END %]
[% END %]
