[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Matias Iglesias <matiasiglesias@matiasiglesias.com.ar>
  # Latest version of this Spanish localization template
  # can be found at <http://github.com/matiasiglesias/bugzilla_es>
  #
  # Contributions are Welcome.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

Antes de registrar [% terms.abug %], por favor lea la
<a href="page.cgi?id=bug-writing.html">
gu&iacute;a de escritura de [% terms.bug %]</a>, mire la lista de
<a href="duplicates.cgi">[% terms.bugs %] m&aacute;s frecuentemente duplicados</a>, y pruebe 
<a href="query.cgi">buscar</a> el [% terms.bug %].
