[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% SET search_descs = {
  "noop"           => "---",
    "equals"         => "es igual a",
  "notequals"      => "no es igual a",
  "anyexact"       => "es igual a cualquiera de las cadenas",
  "substring"      => "contiene la cadena",
  "casesubstring"  => "contiene la cadena (coinciden mayúsculas)",
  "notsubstring"   => "no contiene la cadena",
  "anywordssubstr" => "contiene cualquiera de las cadenas",
  "allwordssubstr" => "contiene todas las cadenas",
  "nowordssubstr"  => "no contiene ninguna de las cadenas",
  "regexp"         => "coincide con la expresión regular",
  "notregexp"      => "no coincide con la expresión regular",
  "lessthan"       => "es menor que",
  "lessthaneq"     => "es menor o igual que",
  "greaterthan"    => "es mayor que",
  "greaterthaneq"  => "es mayor o igual que",
  "anywords"       => "contiene cualquiera de las palabras",
  "allwords"       => "contiene todas las palabras",
  "nowords"        => "no contiene ninguna de las palabras",
  "changedbefore"  => "cambiado antes",
  "changedafter"   => "cambiado después",
  "changedfrom"    => "cambiado desde",
  "changedto"      => "cambiado a",
  "changedby"      => "cambiado por",
  "matches"        => "coincide con",
  "notmatches"     => "no coincide con",
  "isempty"        => "es vacío",
  "isnotempty"     => "no es vacío",
} %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "Tipo desconocido",
                   ${constants.FIELD_TYPE_FREETEXT}      => "Texto libre",
                   ${constants.FIELD_TYPE_INTEGER}       => "Entero",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "Lista desplegable",
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "Lista de selección múltiple",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "Recuadro de texto largo",
                   ${constants.FIELD_TYPE_DATETIME}      => "Fecha/Hora",
                   ${constants.FIELD_TYPE_DATE}          => "Fecha",
                   ${constants.FIELD_TYPE_BUG_ID}        => "ID del $terms.Bug",
                } %]

[% IF in_template_var %]
  [% PROCESS "global/value-descs.none.tmpl" %]
  [% SET vars.value_descs = value_descs %]
  [% SET vars.terms = terms %]

  [%# field_descs is loaded as a global template variable and cached
    # across all templates--see VARIABLES in Bugzilla/Template.pm.
    #%]
  [% vars.field_descs = {
     "[Bug creation]"          => "[creación del $terms.Bug]",
     "actual_time"             => "Horas actuales",
     "alias"                   => "Alias",
     "assigned_to"             => "Asignado a",
     "assigned_to_realname"    => "Nombre real del asignado",
     "attach_data.thedata"     => "Datos del adjunto",
     "attachments.description" => "Descripción del adjunto",
     "attachments.filename"    => "Nombre del fichero adjunto",
     "attachments.mimetype"    => "Tipo mime del adjunto",
     "attachments.ispatch"     => "El adjunto es un parche",
     "attachments.isobsolete"  => "El adjunto está obsoleto",
     "attachments.isprivate"   => "El adjunto es privado",
     "attachments.submitter"   => "Creador del adjunto",
     "blocked"                 => "bloquea",
     "bug_file_loc"            => "URL",
     "bug_group"               => "Grupo",
     "bug_id"                  => "$terms.Bug ID",
     "bug_severity"            => "Gravedad",
     "bug_status"              => "Estado",
     "changeddate"             => "Fecha último cambio",
     "cc"                      => "CC",
     "classification"          => "Classification",
     "cclist_accessible"       => "¿lista CC accessible?",
     "commenter"               => "Comentador",
     "component_id"            => "ID componente",
     "component"               => "Componente",
     "content"                 => "Contenido",
     "creation_ts"             => "Hora de creación del $terms.Bug",
     "days_elapsed"            => "Días desde que se modificó el $terms.bug",
     "deadline"                => "Fecha límite",
     "delta_ts"                => "Hora del último cambio",
     "dependson"               => "Depende de",
     "dup_id"                  => "Duplicado",
     "estimated_time"          => "Tiempo estimado",
     "everconfirmed"           => "¿Confirmado?",
     "flagtypes.name"          => "Indicador",
     "keywords"                => "Palabras clave",
     "last_visit_ts"           => "Last Visit",
     "longdesc"                => "Comentario",
     "longdescs.count"         => "Número de comentarios",
     "longdescs.isprivate"     => "El comentario es privado",
     "newcc"                   => "CC",
     "op_sys"                  => "Sist. operativo",
     "opendate"                => "Fecha de creación",
     "owner_idle_time"         => "Tiempo de inactividad del asignado",
     "percentage_complete"     => "%Completo",
     "priority"                => "Prioridad",
     "product_id"              => "ID del producto",
     "product"                 => "Producto",
     "qa_contact"              => "Contacto QA",
     "qa_contact_realname"     => "Nombre real del contacto QA",
     "remaining_time"          => "Horas restantes",
     "rep_platform"            => "Hardware",
     "reporter"                => "Informado por",
     "reporter_accessible"     => "¿Informante accessible?",
     "reporter_realname"       => "Nombre real del creador",
     "requestees.login_name"   => "Indicador solicitado a",
     "resolution"              => "Resolución",
     "see_also"                => "Ver también",
     "setters.login_name"      => "Indicador establecido por",
     "setting"                 => "Preferencia",
     "settings"                => "Preferencias",
     "short_desc"              => "Resumen",
     "short_short_desc"        => "Resumen",
     "status_whiteboard"       => "Tablón de estado",
     "tag"                     => "Etiquetas Personales",
     "target_milestone"        => "Hito de destino",
     "version"                 => "Versión",
     "work_time"               => "Horas trabajadas",
  } %]

  [%# Also include any custom fields or fields which don't have a
      Description here, by copying their Description from the
      database. If you want to override this for your language
      or your installation, just use a hook. %]
  [% UNLESS Param('shutdownhtml') %]
    [% FOREACH bz_field = bug_fields.values %]
      [% SET vars.field_descs.${bz_field.name} = bz_field.description
         IF !vars.field_descs.${bz_field.name}.defined %]
    [% END %]
  [% END %]

  [% PROCESS "bug/field-help.none.tmpl" %]
[% END %]

[% Hook.process("end") %]
